<!-- ...existing code... -->
<div class="container py-4">
  <div class="col-md-4 mx-auto">
    <div class="card shadow-sm border-0">


      <div class="card-body">
        <!-- Mensaje -->

        <div class="container mt-4">
          <h3>Editar Usuario</h3>

          <input type="text" value="{{ nameOld }}" class="form-control mt-2"  [(ngModel)]="name">
          <input type="text" class="form-control mt-2"  [(ngModel)]="password">

          <button class="btn btn-primary mt-3" (click)="update()">
            Actualizar usuario
          </button>
        </div>

      </div>

    </div>
  </div>
</div>
<!-- ...existing code... -->
