<!-- <div class="container my-4">
  <h2 class="text-center mb-4">Gestionar Pedidos</h2>
  <div *ngIf="order">
    <p>Pedido #{{ order.id }}</p>
    <p>Estado Actual: {{ order.status }}</p>

    <div class="mb-3">
      <label for="statusSelect" class="form-label">Actualizar Estado:</label>
      <select id="statusSelect" class="form-select" [(ngModel)]="newStatus">
        <option value="" disabled>Seleccione un estado</option>
        <option value="Pendiente">Pendiente</option>
        <option value="En Proceso">En Proceso</option>
        <option value="Completado">Completado</option>
        <option value="Cancelado">Cancelado</option>
      </select>
    </div>

    <button class="btn btn-primary" (click)="updateOrderStatus()">Actualizar Estado</button>
  </div>

</div> -->
