<div class="container py-4">
  <div class="col-md-4 mx-auto">
    <div class="card shadow-sm border-0">
      <div class="card-header bg-white">
        <div class="d-flex justify-content-between align-items-center">
          <h5 class="mb-0">Registro</h5>
        </div>
      </div>

      <div class="card-body">

        <!-- Mensaje -->
        <div *ngIf="message" class="alert alert-info">{{ message }}</div>

        <form (ngSubmit)="register()">

          <div class="mb-3">
            <label class="form-label">Nombre</label>
            <input
              type="text"
              class="form-control"
              [(ngModel)]="user.name"
              name="name"
              required>
          </div>

          <div class="mb-3">
            <label class="form-label">Email</label>
            <input
              type="email"
              class="form-control"
              [(ngModel)]="user.email"
              name="email"
              required>
          </div>

          <div class="mb-3">
            <label class="form-label">Contraseña</label>
            <input
              type="password"
              class="form-control"
              [(ngModel)]="user.password"
              name="password"
              required>
          </div>

          <div class="mb-3">
            <label class="form-label">Confirmar contraseña</label>
            <input
              type="password"
              class="form-control"
              [(ngModel)]="user.password_confirmation"
              name="password_confirmation"
              required>
          </div>

          <button type="submit" class="btn w-100 text-white" style="background:#62C2BD;">
            Registrarse
          </button>

        </form>

      </div>
    </div>

    <a class="nav-link" routerLink="/Login">¿Ya tienes cuenta? Inicia sesión</a>
  </div>
</div>
